/* Container Number Properties */

.containerNumber {
    background-color: #101010;
    color: white;
    font-size: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.containerNumber div {
    display: inline-block;
    background-color: #201f1f;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
}